.cards {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }

  .cards__container {
    margin: auto;
  }
  
  .cards__wrapper {
    margin: 0 0 0 0;
  }
  .cards__items {
    margin:auto;
    width: 40%;
  }
  .cards__items li {
    list-style: none;
    text-align: left;
  }
  .cards__items a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 28px;
  } 
  .feature:before
  {
    padding-left: 1.3em;
    content: "\f1ea";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 2.3em;
  }
  .review:before {
    padding-left: 1.3em;
    content: "\f8d9";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 2.3em;
  }
  .playlist:before {
    padding-left: 1.3em;
    content: "\f144";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 2.3em;
  }
  .interview:before {
    padding-left: 1.3em;
    content: "\f086";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 2.3em;
  }
  
  @media only screen and (min-width: 2200px) {
    .content__blog__container {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 1440px) {
  .cards__container {
    margin: auto;
    width: 100%;
  }
  .cards__items {
    width: 60%;
  }
  .cards__items a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
  } 
}
@media only screen and (max-width: 768px) {
  .cards__container {
    margin: auto;
    width: 100%;
  }
  .cards__items {
    width: 95%;
  }
  .cards__items a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
  } 
}